langchain
ipykernel
python-dotenv
langchain_community
langchain-community
Pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
python-dotenv
langchain-ollama
chromadb
sentence_transformers
langchain_huggingface
hf_xet
faiss-cpu
langchain_chroma
langchain-openai
google
google-generativeai
langchain-google-genai
streamlit ## for frontend
langchain-groq
fastapi
uvicorn
langserve
sse_starlette
pydantic
duckduckgo-search
sqlalchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio ## for frontend
